@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Monoton:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

main {
  overflow: hidden;
  height: 85vh;
  background-color: #fafbfd !important;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
}

@media (max-width: 400px) {
  body, main {
    padding: 0 0.5rem;
  }
}
