header {
  background-color: #fff;
  padding: 1rem 2rem;
}

.header-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

/* Logo */
.logo img {
  width: 11rem;
  height: auto;
}

/* Navigation */
.nav-links {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #949494;
  font-size: 13px;
  font-weight: 600;
}

.nav-links li a.active-link {
  color: #fc9702;
  font-weight: 600;
}

/* CTA Button */
.cta-button .start-button {
  background-color: #fc9702;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button .start-button:hover {
  background-color: #0056b3;
}
/* Small Tablets and Below */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .cta-button {
    align-self: center;
  }

}

/* Extra Small Devices */
@media (max-width: 480px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    padding: 1rem;
    align-items: center;
  }
}
