.rates-section {
  padding: 8rem 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

.rates-container {
  max-width: 1000px;
  margin: 0 auto;
}

.sliders-wrapper {
  margin-top: 3rem;
  overflow: visible;
}

/* Main Slider */
.swiper-horizontal {
  margin-top: 4rem;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}

.main-slider .slide-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-slider img {
  max-width: 100%;
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 12px;
}

.main-slider h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.main-slider p {
  font-size: 1rem;
  max-width: 600px;
}

.center-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  width: 300px;
  height: 355px;
  background-color: #fff;
  color: #000;
}

.left-content,
.right-content {
  width: 300px;
  height: 300px;
  background-color: black;
  color: #f4f4f4;
}
.left-content{
  border-radius: 7px 0px 0px 7px;
}
.right-content{
  border-radius: 0px 7px 7px 0px;
}
.btn-rates-learn-more {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 10px 25px;
  background: #f89902;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 20px;
  margin-top: 10px;
}

.rates-arrow {
  width: 12px !important;
  height: 7px !important;
  margin-left: 5px;
}
.swiper-button-prev,  .swiper-button-next{
  color: #f0a021;
}
/* Thumbnail Slider */
.thumb-slider {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.thumb-slider .swiper-wrapper {
  gap: 6rem;
  margin-left: -10rem;
  transition-duration: 0ms;
  transform: translate3d(217px, 0px, 0px) !important;
  transition-delay: 0ms;
}
.thumb-slider img {
  height: 45px;
  width: 45px;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s ease;
}
.thumb-container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thumb-img-wrapper {
  width: 80px;
  border-radius: 100rem;
  padding: 1rem;
  background-color: #fbca80;
}
.thumb-slider .swiper-slide-thumb-active img {
  opacity: 1;
}
.thumb-slider .swiper-slide-thumb-active .thumb-img-wrapper {
  width: 80px;
  background-color: #f89902;
}
.thumb-slider .swiper-slide {
  width: 93px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumb-title {
  color: #9a9a9a;
}
.swiper-slide-thumb-active .thumb-title {
  color: black;
}
