<div
  class="slick-track"
  style="width: 2448px; opacity: 1; transform: translate3d(-1224px, 0px, 0px)"
>
  <div
    data-index="-5"
    tabindex="-1"
    class="slick-slide slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img
            alt="Logo Design"
            src="http://localhost:6788/images/logo_design.png"
          />
        </div>
        <span>Logo Design</span>
      </div>
    </div>
  </div>
  <div
    data-index="-4"
    tabindex="-1"
    class="slick-slide slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="Ad words" src="http://localhost:6788/images/ads.png" />
        </div>
        <span>Ad words</span>
      </div>
    </div>
  </div>
  <div
    data-index="-3"
    tabindex="-1"
    class="slick-slide slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="Web Design" src="http://localhost:6788/images/design.png" />
        </div>
        <span>Web Design</span>
      </div>
    </div>
  </div>
  <div
    data-index="-2"
    tabindex="-1"
    class="slick-slide slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="SEO" src="http://localhost:6788/images/seo.png" />
        </div>
        <span>SEO</span>
      </div>
    </div>
  </div>
  <div
    data-index="-1"
    tabindex="-1"
    class="slick-slide slick-center slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img
            alt="Social Media"
            src="http://localhost:6788/images/social.png"
          />
        </div>
        <span>Social Media</span>
      </div>
    </div>
  </div>
  <div
    data-index="0"
    class="slick-slide"
    tabindex="-1"
    aria-hidden="true"
    style="outline: none; width: 153px; align-items: center"
  >
    <div>
      <div
        tabindex="-1"
        style="
          width: 100%;
          display: inline-block;
          align-items: center;
          display: flex;
          flex-direction: column;
        "
      >
        <div class="icon-container">
          <img
            alt="Logo Design"
            src="http://localhost:6788/images/logo_design.png"
          />
        </div>
        <span>Logo Design</span>
      </div>
    </div>
  </div>
  <div
    data-index="1"
    class="slick-slide"
    tabindex="-1"
    aria-hidden="true"
    style="outline: none; width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="Ad words" src="http://localhost:6788/images/ads.png" />
        </div>
        <span>Ad words</span>
      </div>
    </div>
  </div>
  <div
    data-index="2"
    class="slick-slide slick-active"
    tabindex="-1"
    aria-hidden="false"
    style="outline: none; width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="Web Design" src="http://localhost:6788/images/design.png" />
        </div>
        <span>Web Design</span>
      </div>
    </div>
  </div>
  <div
    data-index="3"
    class="slick-slide slick-active"
    tabindex="-1"
    aria-hidden="false"
    style="outline: none; width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="SEO" src="http://localhost:6788/images/seo.png" />
        </div>
        <span>SEO</span>
      </div>
    </div>
  </div>
  <div
    data-index="4"
    class="slick-slide slick-active slick-center slick-current"
    tabindex="-1"
    aria-hidden="false"
    style="outline: none; width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img
            alt="Social Media"
            src="http://localhost:6788/images/social.png"
          />
        </div>
        <span>Social Media</span>
      </div>
    </div>
  </div>
  <div
    data-index="5"
    tabindex="-1"
    class="slick-slide slick-active slick-cloned"
    aria-hidden="false"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img
            alt="Logo Design"
            src="http://localhost:6788/images/logo_design.png"
          />
        </div>
        <span>Logo Design</span>
      </div>
    </div>
  </div>
  <div
    data-index="6"
    tabindex="-1"
    class="slick-slide slick-active slick-cloned"
    aria-hidden="false"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="Ad words" src="http://localhost:6788/images/ads.png" />
        </div>
        <span>Ad words</span>
      </div>
    </div>
  </div>
  <div
    data-index="7"
    tabindex="-1"
    class="slick-slide slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="Web Design" src="http://localhost:6788/images/design.png" />
        </div>
        <span>Web Design</span>
      </div>
    </div>
  </div>
  <div
    data-index="8"
    tabindex="-1"
    class="slick-slide slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img alt="SEO" src="http://localhost:6788/images/seo.png" />
        </div>
        <span>SEO</span>
      </div>
    </div>
  </div>
  <div
    data-index="9"
    tabindex="-1"
    class="slick-slide slick-center slick-cloned"
    aria-hidden="true"
    style="width: 153px"
  >
    <div>
      <div tabindex="-1" style="width: 100%; display: inline-block">
        <div class="icon-container">
          <img
            alt="Social Media"
            src="http://localhost:6788/images/social.png"
          />
        </div>
        <span>Social Media</span>
      </div>
    </div>
  </div>
</div>
